html {
  background: linear-gradient(-90deg, pink, white);
  background-size: cover;
}

body {
  font-family: "Lucida Console", Monaco, monospace;
}

button {
  font-family: "Lucida Console", Monaco, monospace;
}

button:hover {background-color: lightcoral}

button:active {
 background-color: red;
 box-shadow: 0 5px #666;
 transform: translateY(4px);
}

#homePic {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 400px;
  width: 400px;
  display: block;
  margin: auto;
}

#login-container {
  background: #fff;
  text-align: center;
  color: darkblue;
  height: 450px;
  width: 400px;
  margin: auto;
  opacity: 0.9;
  border-radius: 5px;
}

#container {
  text-align: center;
  padding: 10px 20px;
}

#home-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#route-buttons {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}

.close-button {
  width: 10px;
  height: 10px;
}

#login-button {
  display: inline-block;
  margin: 0 auto;
  height: 100px;
  background: #FAB;
  font-size: 1.7em;
}

.buttons {
  display: inline-block;
  margin: 0 auto;
  width: 200px;
  height: 100px;
  background: #FAB;
  font-size: 1.7em;
}

#voting-container {
  margin-top: 30px;
}